<!DOCTYPE html>
<html lang="en" ng-app="svstApp">
<head>
    <meta charset="UTF-8">
    <title>Secure Vote Stress Test</title>
    <link type="text/css" rel="stylesheet" href="basscss.min.css">
    <link type="text/css" rel="stylesheet" href="svst.css">
    <link type="text/css" rel="stylesheet" href="odometer-theme-default.css">
</head>
<body ng-controller="SvstController as ctrl">

<div class="container">
    <div class="clearfix center">
        <div class="row">
            <div class="col-12 center">
                <h1>Flux + XO.1 preset:</h1>
                <hr>
                <h1>The Secure.Vote Stress Test</h1>
                <div class="m2">
                    <span class="col-3 p1 rounded-left border ">
                        <span ng-if="ctrl.testStarted()">Time Running: {{ ctrl.timeRunning(); }}</span>
                        <span ng-if="!ctrl.testStarted()">Starting In: {{ ctrl.startingIn(); }}</span>
                    </span>
                    <span class="col-3 p1 border ">
                        Total Pallets: <ng-odometer value="ctrl.getinfo.n_pallets"></ng-odometer> (?)
                    </span>
                    <span class="col-3 p1 border">
                        Total Votes: <ng-odometer value="ctrl.getinfo.n_votes"></ng-odometer>
                    </span>
                    <span class="col-3 p1 border">
                        Votes per Minute: <ng-odometer value="ctrl.velocity.votes_per_min"></ng-odometer> (?)
                    </span>
                </div>
            </div>
        </div>
        <div class="row nav">
            <a class="btn btn-outline" href="/?debug">Debug</a>
            <a class="btn btn-outline" ng-click="ctrl.setTab('dashboard')">Dashboard</a>
            <a class="btn btn-outline" ng-click="ctrl.setTab('flux')">Flux</a>
            <a class="btn btn-outline" ng-click="ctrl.setTab('xo1')">XO.1</a>
            <a class="btn btn-outline" ng-click="ctrl.setTab('secure.vote')">Secure.Vote</a>
            <a class="btn btn-outline" ng-click="ctrl.setTab('faq')">FAQ</a>
            <a class="btn btn-outline" target="_blank" rel="noopener noreferrer" href="https://reddit.com/r/bitcoin">Reddit Discussion</a>
        </div>
        <div class="row">
            <div class="col col-9">
                <div ng-if="ctrl.isTab('intro')">
                    <h2>Stress Test Intro</h2>
                    <hr>
                    <p>
                        We're doin' a stress test! <br>
                        <a class="btn btn-primary" ng-click="ctrl.setTab('dashboard')">Next!</a>
                    </p>
                </div>
                <div ng-if="ctrl.isTab('dashboard')">
                    <h2>Dashboard</h2>
                    <hr>
                    <p>{{ ctrl.getinfo }}</p>
                </div>
                <div ng-if="ctrl.isTab('flux')">
                    <h2>Flux</h2>
                    <p>Info about Flux</p>
                </div>
                <div ng-if="ctrl.isTab('xo1')">
                    <h2>XO.1</h2>
                    <p>Info About XO.1</p>
                </div>
                <div ng-if="ctrl.isTab('secure.vote')">
                    <h2>Secure.Vote</h2>
                    <p>
                        Info About Secure.Vote
                    </p>
                </div>
                <div ng-if="ctrl.isTab('faq')">
                    <h2>FAQ</h2>
                </div>
            </div>
            <div class="col col-3">
                <h2>Log</h2>
                <hr>
                <ul class="m3 list-reset">
                    <li ng-repeat="loglet in ctrl.log track by $index" class="py1">
                        <div ng-class="{'bg-red': loglet.type == 'error', 'bg-blue': loglet.type != 'error'}" class="rounded p1">
                            <h3 class="white m1">
                                <span ng-if="loglet.type == 'error'">Error</span>
                                <span ng-if="loglet.type != 'error'">Message</span>
                            </h3>
                            <hr>
                            <p class="white">
                                {{ loglet.msg }}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="lodash.core.js"></script>
<script src="angular.js"></script>
<script src="angular-odometer.min.js"></script>  <!-- https://github.com/bahaaldine/angular-odometer -->
<script src="odometer.min.js"></script> <!-- http://github.hubspot.com/odometer/ -->
<script src="svst.js"></script>

</body>
</html>
